html {
  box-sizing: border-box;
}

*,
*::after,
a::before {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(../images/hero/bg-tab-mob.png);
  background-repeat: no-repeat;
  background-position: top;

  @include mq(desktop) {
    background-image: url(../images/hero/bg-desk.png);
  }

  &.no-scroll,
  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.c-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  @include mq(tablet) {
    font-size: 26px;
  }

  @include mq(desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
