html {
  box-sizing: border-box;
}

*,
*::after,
a::before {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
}