<section class="about" id="about">
  <div class="container about__container">
    <h2 class=" c-title about__title">Teacher</h2>

  <div class="about__wrap">
    <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/About/elena_l.jpg    1x,
            ./images/About/elena_l@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/About/elena_m.jpg    1x,
            ./images/About/elena_m@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/About/elena-s.jpg    1x,
            ./images/About/elena_s@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="about__img"
          src="./images/About/elena-s.jpg"
          alt="Teacher"
          width="243"
        />
      </picture>

      <div class="about__desc">
        <h3 class="about__desc-title">Elena Moreva</h3>

        <ul class="about__desc-list">
          <li class="about__desc-item">
            <p class="about__desc-txt">
              6 yeards of experience in preparing students for UPE
            </p>
          </li>
          <li class="about__desc-item">
            <p class="about__desc-txt">
              Own result of passing VNO - 197 points 2 years in a row
            </p>
          </li>
          <li class="about__desc-item">
            <p class="about__desc-txt">
              Passed excellent at the international analogue of UPE - Cambridge
              PET (Preliminary English Test)
            </p>
          </li>
        </ul>

        <p class="about__desc-paragraph">
          Graduated from the Institute of International Relations of the NAU
          with a degree in translator-analyst.
        </p>

        <p class="about__desc-paragraph">
          In spare time takes courses from the best universities in the world on
          effective teaching and essay writing techniques.
        </p>

        <p class="about__desc-paragraph">
          Completed: English Grammar and Essay Writing (Berkeley), English
          Grammar & Style (The University of Queesland), How to Write an Essay
          (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>

          <button class="about__desc-link" type="button" data-about-open>
            Cambrige English Entry Level Certificate
            </button>
      </div>
    </div>

    <!-- Modal -->

    
  </div>
</section>
