<section class="advanteges">
  <div class="container">
    <h2 class="visually-hidden">advanteges</h2>

    <ul class="sentence">
      <li class="sentence__item">
        <p class="sentence__descr sentence__descr-1">
          Adapted author's UPE program
        </p>
      </li>
      <li class="sentence__item">
        <p class="sentence__descr sentence__descr-2">Modern teaching methods</p>
      </li>
      <li class="sentence__item">
        <p class="sentence__descr sentence__descr-3">
          Financial guarantee the result
        </p>
      </li>
    </ul>
  </div>
</section>
