<section class="advanteges">
  <div class="container">
    <h2 class="visually-hidden">advanteges</h2>
    <ul class="sentence">
      <li class="sentence__item">
        <!-- <div>
          <svg width="60" height="60">
            <use href="./image/sprite.svg/#icon-advantages-1"></use>
          </svg>
        </div> -->
        <p>Adapted author's UPE program</p>
      </li>
      <li class="sentence__item">
        <!-- <div>
          <svg width="60" height="60">
            <use href="./image/sprite.svg/#icon-advantages-2"></use>
          </svg>
        </div> -->
        <p>Modern teaching methods</p>
      </li>
      <li class="sentence__item">
        <!-- <div>
          <svg width="60" height="60">
            <use href="./image/sprite.svg/#icon-advantages-3"></use>
          </svg>
        </div> -->
        <p>Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
