<section class="benefits">
    <div class="container">
      <h2 class="benefits__title">Why do people choose us</h2>
        <ul class="general-list">
            <li class="general-list__item">Training in small groups</li>
            <li class="general-list__item">Rendered notes</li>
            <li class="general-list__item">Each lesson has a goal and a specific result</li>
            <li class="general-list__item">The real results of the teacher</li>
            <li class="general-list__item">The course program meets the requirements of the MES of Ukraine</li>
            <li class="general-list__item">Set of groups by level of knowledge</li>
          </ul>
    </div>
</section>