<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">reviews</h2>
    <strong class="contacts__action-text">
      Registration for a
      <span class="contacts__action-text--acсent">free</span> phone
      <span class="contacts__action-text--acсent">consultation</span> on the
      nuances of English UPE
    </strong>
    <p class="contacts__text">
      Leave a request for participation in a
      <span class="contacts__action-text--acсent">free lesson</span>. A
      consultant will contact you and answer your questions
    </p>
    <form action="" class="contacts-form">
      <label>
        <input
          class="contacts-form__input"
          type="text"
          name="user_name"
          placeholder="Name*"
          maxlength="32"
          pattern="[A-Za-z]{1,32}"
          title="Name must contain only letters"
        />
      </label>
      <label>
        <input
          class="contacts-form__input"
          type="tel"
          name="phone_number"
          placeholder="Phone*"
          pattern="38[0-9]{10}"
          title="Not correct number"
        />
      </label>

      <button class="contacts-form__button" type="submit">
        i want a free lesson
      </button>
    </form>
  </div>
</section>
