<footer class="footer">
    <div class="container footer-container">
        <div class="footer-logo">
    <a class="logo link" href="../src/index.html">
                <svg class="logo__main" width="80" height="20">
                  <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <span class="logo__text">
                  <span class="logo__accent"> Hellish </span>
                  <span class="logo__color"> english </span>
                </span>
              </a>
            </div>
            <div class="footer-phone-icon">
                <a
                class=" link footer-item__link"
                href="tel:+380991234567">
                <svg class="footer-phone__icon" width="20" height="20">
                  <use href="/src/images/sprite.svg#footer-phone"></use>
                </svg>
                +38 (099) 123 45 67</a>
                
                    <a href="https://www.instagram.com/">
                    <img src="./images/footer/instagram.svg" alt="instagram-logo" width="40">
                </a>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright-text">
                &#169 All rights reserved, 2022
            </span>
        </div>


</footer>