<section class="guarantee">
  <div class="container guarantee__container">
    <h2 class="c-title guarantee__title">We guarantee</h2>
    <ul class="guarantee__list">
      <li class="guarantee__item">
        <p class="guarantee__desc">
          You will pass the UPE with at least 25 points better than on the first
          practice test. Otherwise, we will refund your money.<span
            class="guarantee__desc--accent"
            >*</span
          >
        </p>
      </li>
      <li class="guarantee__item">
        <p class="guarantee__desc">
          You will learn to write essays with at least 10 points out of 14.
          <span class="guarantee__desc--accent">
            While 20% of the students received 0 for essays.</span
          >
        </p>
      </li>
      <li class="guarantee__item">
        <p class="guarantee__desc">
          You will study in your area. We will choose the location for the
          classes after the teams have been formed.
        </p>
      </li>
      <li class="guarantee__item">
        <p class="guarantee__desc">
          Teams will be formed based on the starting level of the students. We
          take into account the characteristics of each student.
        </p>
      </li>
    </ul>
  </div>
</section>
