<header class="header">
  <div class="container header-container">
    <!-- logo desk -->
    <a class="logo link" href="../src/index.html" data-logo>
      <svg class="logo__main">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__text">
        <span class="logo__accent"> Hellish </span>
        <span class="logo__color"> english </span>
      </span>
    </a>

    <!-- site navigations -->
    <div class="menu-container" id="menu-container" data-menu>
      <div class="menu-wrapper">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#program" class="nav__link link">Studying program</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link link">about</a>
            </li>
            <li class="nav__item">
              <a href="#how-we-do" class="nav__link link">training options</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link link">contacts</a>
            </li>
          </ul>
        </nav>

        <button class="btn-modal-mob" type="button">
          consultation by phone
        </button>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="btn-modal" type="button">consultation by phone</button>

      <button
        class="hamburger hamburger--collapse btn-menu"
        type="button"
        aria-expanded="false"
        data-menu-button
        aria-controls="menu-container"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</header>
