<header class="header">
  <div class="container header-container">
    <!-- logo -->
    <a class="logo link" href="../src/index.html" data-logo>
      <svg class="logo__main">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__text">
        <span class="logo__accent"> Hellish </span>
        <span class="logo__color"> english </span>
      </span>
    </a>

    <!-- site navigations -->
    <div class="menu-container" id="menu-container" data-menu>
      <div class="menu-wrapper">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#program" class="nav__link link">Studying program</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link link">about</a>
            </li>
            <li class="nav__item">
              <a href="#how-we-do" class="nav__link link">training options</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link link">contacts</a>
            </li>
          </ul>
        </nav>

        <button class="btn-modal-mob" type="button" data-modal-open>
          consultation by phone
        </button>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="btn-modal" type="button" data-modal-open>
        consultation by phone
      </button>

      <button
        class="hamburger hamburger--collapse btn-menu"
        type="button"
        aria-expanded="false"
        data-menu-button
        aria-controls="menu-container"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</header>

<!-- modal form  -->
<div data-modal class="modal is-hidden">

    <div class="solar-wrap">
            <div class="view">
                <div class="plane main">
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
            </div>
    </div>

  <div class="modal__window">
    <button data-modal-close class="modal__close-btn" type="button">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <strong class="modal__title">
      Enter your details to receive a call back from us
    </strong>
    <form class="modal__form">
      <label class="modal__field">
        <span class="modal__description">Name</span>
        <input class="modal__input" type="text" name="call-back-name" />
        <svg class="modal__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-how-5"></use>
        </svg>
      </label>
      <label class="modal__field">
        <span class="modal__description">Phone number</span>
        <input class="modal__input" type="tel" name="call-back-phone" />
        <svg class="modal__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-phone"></use>
        </svg>
      </label>
      <label class="modal__field">
        <span class="modal__description">E-mail</span>
        <input class="modal__input" type="email" name="call-back-post" />
        <svg class="modal__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-post"></use>
        </svg>
      </label>
      <label class="modal__field">
        <span class="modal__description"> Message </span>
        <textarea class="modal__textarea" name="call-back-comment"></textarea>
      </label>

      <p class="modal__details">
        <svg class="modal__details-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-lock"></use>
        </svg>
        We NEVER share your details with anyone.
      </p>
      <button class="modal__btn btn glow-on-hover" type="submit">send</button>
    </form>
  </div>
</div>
