<section class="how-we-do">
  <div class="container">
    <h2 class="c-title">How do we do it</h2>
    <ul class="plan">
      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-1"></use>
        </svg>
        <h3 class="plan__title">Adapted program preparation for UPE</h3>
        <p class="plan__desc">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>
      </li>

      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-2"></use>
        </svg>
        <h3 class="plan__title">Classroom and online learning</h3>
        <p class="plan__desc">
            The teacher will help not only in the classroom, but also during home preparation.
            Parents can chat if they wish.
        </p>
      </li>

      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-3"></use>
        </svg>
        <h3 class="plan__title">The habit of reading in English</h3>
        <p class="plan__desc">
            Articles from sources that are used in the development of this UPE will be received by phone twice a week.
        </p>
      </li>

      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-4"></use>
        </svg>
        <h3 class="plan__title">Psychological
            support</h3>
        <p class="plan__desc">
            We will teach you testing techniques, the ability to plan your confidence training
            in itself.
        </p>
      </li>

      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-5"></use>
        </svg>
        <h3 class="plan__title">Training on copyright manuals</h3>
        <p class="plan__desc">
            You don't have to waste your time
            on a search for material and to buy anything extra. We have compiled
            2 manuals for you.
        </p>
      </li>

      <li class="plan__item">
        <svg class="plan__icon" width="55" height="55">
          <use href="./images/sprite.svg#icon-how-6"></use>
        </svg>
        <h3 class="plan__title">Ability to comprehend spoken English</h3>
        <p class="plan__desc">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly
            and analyze audio recordings
            in accordance with the studied vocabulary.
        </p>
      </li>

    </ul>
  </div>
</section>
