<section class="problems">
  <div class="container problems__container">
    <h2 class="problems__title">
      <!-- <pre class="problems__pre">  -->
      The main problems of students in English UPE, which<span class="promlems_enter"></span> we
      <span class="problems_accent">help</span> to solve
      <!-- </pre> -->
    </h2>

    <ul class="general-list">
      <li class="general-list__item">Grammar</li>
      <li class="general-list__item">Inability to understand spoken English</li>
      <li class="general-list__item">Stingy vocabulary for writing an essay</li>
      <li class="general-list__item">Preparing alone</li>
      <li class="general-list__item">Lack of a single knowledge resource</li>
      <li class="general-list__item">Lack of self-organization and laziness</li>
    </ul>
  </div>
</section>
