<section class="program">
    <div class="container">
  <h2 class="program__title">Our program</h2>
  <ul class="semestr">
         <!--1 семестр -->
    <li class="semestr__item">
        <h3 class="semestr__title"><span class="semestr__title--digital">1</span> semester</h3>
        <!-- Вложенный список -->
        <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
                <h4 class="semestr-ul-2__title">— Grammar</h4>
                <p class="semestr-ul-2__text">Nouns & Articles
                    <br> Adjectives & Adverb </p>
            </li>
            <!-- 2 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
                <h4 class="semestr-ul-2__title">— Vocabulary</h4>
                <p class="semestr-ul-2__text">Family & Relations<br>
                    People & Society </p>
            </li>

          </ul>
        </li>

        <!-- 2 семестр  -->
     <li class="semestr__item">
                <h3 class="semestr__title"><span class="semestr__title--digital">2</span> semester</h3>
                <!-- Вложенный список -->
                <ul class="semestr-ul-2">
                    <!-- 1 элемент вложенного списка -->
                    <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— Grammar</h4>
                        <p class="semestr-ul-2__text">Pronouns <br>
                            Active Voice<br>
                            Passive Voice </p>
                    </li>
                    <!-- 2 элемент вложенного списка -->
                    <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— Vocabulary</h4>
                        <p class="semestr-ul-2__text">Home<br>
                            School<br>
                            Work </p>
                    </li>
                </ul>
    </li>
        <!-- 3 семестр -->
             <li class="semestr__item">
                <h3 class="semestr__title"><span class="semestr__title--digital">3</span> semester</h3>
                 <!-- Вложенный список -->
                <ul class="semestr-ul-2">
                    <!-- 1 элемент вложенного списка -->
                    <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— Grammar</h4>
                        <p class="semestr-ul-2__text">Modal verbs<br>
                            Infinitive<br>
                            Gerund<br>
                            Participle: 1, 2 </p>
                    </li>
                    <!-- 2 элемент вложенного списка -->
                    <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— Vocabulary</h4>
                        <p class="semestr-ul-2__text">Travel & Tourism<br>
                            Culture & Free Time<br>
                            Sport </p>
                    </li>
                    <!-- 3 элемент вложенного списка -->
                    <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— Writing</h4>
                        <p class="semestr-ul-2__text">Informal Letter </p>
                    </li>
                </ul>
             </li>
        <!-- 4 семестр -->
        <li class="semestr__item">
            <h3 class="semestr__title"><span class="semestr__title--digital">4</span> semester</h3>
            <!-- Вложенный список -->
            <ul class="semestr-ul-2">
                <!-- 1 элемент вложенного списка -->
                <li class="semestr-ul-2__item">
                    <h4 class="semestr-ul-2__title">— Grammar</h4>
                    <p class="semestr-ul-2__text">Clauses: Conditional and Wishes<br>
                        Direct / Reported speech<br>
                        Preposition<br>
                        Conjunction<br>
                        Numeral
                         </p>
                </li>
                <!-- 2 элемент вложенного списка -->
                <li class="semestr-ul-2__item">
                    <h4 class="semestr-ul-2__title">— Vocabulary</h4>
                    <p class="semestr-ul-2__text">Healthy Living<br>
                        Nature & Environment<br>
                        Money
                         </p>
                </li>
                <!-- 3 элемент вложенного списка -->
                <li class="semestr-ul-2__item">
                    <h4 class="semestr-ul-2__title">— Writing</h4>
                    <p class="semestr-ul-2__text">Formal Letter
                    </p>
                </li>
            </ul>
        </li> 
        <!-- 5 семестр -->
                <li class="semestr__item">
                    <h3 class="semestr__title"><span class="semestr__title--digital">5</span> semester</h3>
                    <!-- Вложенный список -->
                    <ul class="semestr-ul-2">
                        <!-- 1 элемент вложенного списка -->
                        <li class="semestr-ul-2__item">
                        <h4 class="semestr-ul-2__title">— </h4>
                        <p class="semestr-ul-2__text">Revision
                            Tests
                            </p>
                        </li>
                    </ul>
                </li>
    </ul>
</div>
</section>
