<section class="program" id="program">
  <div class="container">
    <div class="program__overlay">
      <h2 class="program__title">Our program</h2>
      <ul class="semestr__list">
        <!--1 семестр -->
        <li class="semestr__item">
          <h3 class="semestr__title">
            <span class="semestr__span">1</span>
            semestr
          </h3>
          <!-- Вложенный список -->
          <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Grammar</h4>
              <p class="semestr-ul-2__text">Nouns & Articles
                Adjectives & Adverb </p>
            </li>
            <!-- 2 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Vocabulary</h4>
              <p class="semestr-ul-2__text">Family & Relations
                People & Society </p>
            </li>

          </ul>
        </li>

        <!-- 2 семестр  -->
        <li class="semestr__item">
          <h3 class="semestr__title">
            <span class="semestr__span">2</span>
            semestr
          </h3>
          <!-- Вложенный список -->
          <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Grammar</h4>
              <p class="semestr-ul-2__text">Pronouns
                Active Voice
                Passive Voice </p>
            </li>
            <!-- 2 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Vocabulary</h4>
              <p class="semestr-ul-2__text">Home
                School
                Work </p>
            </li>
          </ul>
        </li>
        <!-- 3 семестр -->
        <li class="semestr__item">
          <h3 class="semestr__title">
            <span class="semestr__span">3</span>
            semestr
          </h3>
          <!-- Вложенный список -->
          <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Grammar</h4>
              <p class="semestr-ul-2__text">Modal verbs
                Infinitive
                Gerund
                Participle: 1, 2 </p>
            </li>
            <!-- 2 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Vocabulary</h4>
              <p class="semestr-ul-2__text">Travel & Tourism
                Culture & Free Time
                Sport </p>
            </li>
            <!-- 3 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Writing</h4>
              <p class="semestr-ul-2__text">Informal Letter </p>
            </li>
          </ul>
        </li>
        <!-- 4 семестр -->
        <li class="semestr__item">
          <h3 class="semestr__title">
            <span class="semestr__span">4</span>
            semestr
          </h3>
          <!-- Вложенный список -->
          <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Grammar</h4>
              <p class="semestr-ul-2__text">Clauses: Conditional and Wishes
                Direct / Reported speech
                Preposition
                Conjunction
                Numeral
              </p>
            </li>
            <!-- 2 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Vocabulary</h4>
              <p class="semestr-ul-2__text">Healthy Living
                Nature & Environment
                Money
              </p>
            </li>
            <!-- 3 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— Writing</h4>
              <p class="semestr-ul-2__text">Formal Letter
              </p>
            </li>
          </ul>
        </li>
        <!-- 5 семестр -->
        <li class="semestr__item">
          <h3 class="semestr__title">
            <span class="semestr__span">5</span>
            semestr
          </h3>
          <!-- Вложенный список -->
          <ul class="semestr-ul-2">
            <!-- 1 элемент вложенного списка -->
            <li class="semestr-ul-2__item">
              <h4 class="semestr-ul-2__title">— </h4>
              <p class="semestr-ul-2__text">Revision
                Tests
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>