<section>
  <div class="container">
    <div class="btn__desktop-container">
      <h2 class="slider__title">Feedback from graduates</h2>
      <ul class="slider__list">
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Tonya Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>


        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Vika Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Ira Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Alla Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Vika Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Nina Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <img class="slider__img" src="#" alt="avatar">
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Zina Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="slider__nav">
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
      <div class="slider__nav-item">
        <img width="54px" src="#" alt="">
      </div>
    </div>
  </div>
</section>