<section>
  <div class="container">
    <div class="card-container">
      <h2 class="slider__title">Feedback from graduates</h2>
      <ul class="slider__list">
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-01.jpg 1x, ./images/reviews/desktop/avatars/avatar-01@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-01.jpg 1x, ./images/reviews/tablet/avatars/avatar-01@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source
                  srcset="./images/reviews/mobile/avatars/avatar-01.jpg 1x, ./images/reviews/mobile/avatars/avatar-01@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-01.jpg" alt="Tonya Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Tonya Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>


        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-02.jpg 1x, ./images/reviews/desktop/avatars/avatar-02@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-02.jpg 1x, ./images/reviews/tablet/avatars/avatar-02@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-02.jpg 1x, ./images/reviews/mobile/avatars/avatar-02@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-02.jpg" alt="Vika Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Vika Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>

        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-03.jpg 1x, ./images/reviews/desktop/avatars/avatar-03@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-03.jpg 1x, ./images/reviews/tablet/avatars/avatar-03@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-03.jpg 1x, ./images/reviews/mobile/avatars/avatar-03@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-03.jpg" alt="Ira Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Ira Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-04.jpg 1x, ./images/reviews/desktop/avatars/avatar-04@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-04.jpg 1x, ./images/reviews/tablet/avatars/avatar-04@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-04.jpg 1x, ./images/reviews/mobile/avatars/avatar-04@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-04.jpg" alt="Alla Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Alla Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-05.jpg 1x, ./images/reviews/desktop/avatars/avatar-05@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-05.jpg 1x, ./images/reviews/tablet/avatars/avatar-05@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-05.jpg 1x, ./images/reviews/mobile/avatars/avatar-05@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-05.jpg" alt="Nina Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Nina Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-06.jpg 1x, ./images/reviews/desktop/avatars/avatar-06@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-06.jpg 1x, ./images/reviews/tablet/avatars/avatar-06@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-06.jpg 1x, ./images/reviews/mobile/avatars/avatar-06@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-06.jpg" alt="Zina Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Zina Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="slider__overlay">
            <div class="slider__thumb-1">
              <picture class="slider__img">
                <source
                  srcset="./images/reviews/desktop/avatars/avatar-07.jpg 1x, ./images/reviews/desktop/avatars/avatar-07@2x.jpg  2x"
                  media="(min-width: 1200px)">
                <source
                  srcset="./images/reviews/tablet/avatars/avatar-07.jpg 1x, ./images/reviews/tablet/avatars/avatar-07@2x.jpg  2x"
                  media="(min-width: 768px)">
                <source srcset="./images/reviews/mobile/avatars/avatar-07.jpg 1x, ./images/reviews/mobile/avatars/avatar-07@2x.jpg 2x"
                  media="(max-width: 767px)">
                <img src="./images/reviews/desktop/avatars/avatar-07.jpg" alt="Lena Kucherovskaya">
              </picture>
              <svg width="34px" height="34px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="slider__thumb-2">
              <h3 class="slider__name">Lena Kucherovskaya</h3>
              <p class="slider__cv">Graduated from 2015, National University of Bioresources and natural history
                of
                Ukraine</p>
              <p class="slider__story">In a short time with Elena, I mastered grammar and replenished my
                completely
                empty
                vocabulary. From the first lesson I
                realized that I was on my plate. Elena and I became friends because she was really worried about
                my
                success. She became
                an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                I
                can
                brag that I'm
                student ...</p>
              <a class="slider__link" href="#">Read more</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="slider__nav">
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source
            srcset="./images/reviews/desktop/review-01.jpg 1x, ./images/reviews/desktop/review-01@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="./images/reviews/tablet/review-01.jpg 1x, ./images/reviews/tablet/review-01@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-01.jpg 1x, ./images/reviews/mobile/review-01@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-01.jpg" alt="Tonay Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-02.jpg 1x, ./images/reviews/desktop/review-02@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-02.jpg 1x, ./images/reviews/tablet/review-02@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-02.jpg 1x, ./images/reviews/mobile/review-02@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-02.jpg" alt="Vika Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-03.jpg 1x, ./images/reviews/desktop/review-03@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-03.jpg 1x, ./images/reviews/tablet/review-03@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-03.jpg 1x, ./images/reviews/mobile/review-03@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-03.jpg" alt="Ira Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-04.jpg 1x, ./images/reviews/desktop/review-04@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-04.jpg 1x, ./images/reviews/tablet/review-04@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-04.jpg 1x, ./images/reviews/mobile/review-04@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-04.jpg" alt="Alla Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-05.jpg 1x, ./images/reviews/desktop/review-05@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-05.jpg 1x, ./images/reviews/tablet/review-05@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-05.jpg 1x, ./images/reviews/mobile/review-05@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-05.jpg" alt="Nina Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-06.jpg 1x, ./images/reviews/desktop/review-06@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-06.jpg 1x, ./images/reviews/tablet/review-06@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-06.jpg 1x, ./images/reviews/mobile/review-06@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-06.jpg" alt="Zina Kucherovskaya">
        </picture>
      </div>
      <div class="slider__nav-item">
        <picture class="slider__img">
          <source srcset="./images/reviews/desktop/review-07.jpg 1x, ./images/reviews/desktop/review-07@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/reviews/tablet/review-07.jpg 1x, ./images/reviews/tablet/review-07@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/reviews/mobile/review-07.jpg 1x, ./images/reviews/mobile/review-07@2x.jpg 2x"
            media="(max-width: 767px)">
          <img width="54px" src="./images/reviews/desktop/review-07.jpg" alt="Lena Kucherovskaya">
        </picture>
      </div>
    </div>
  </div>
</section>