.about {
  padding: 70px 20px;
}

.about__title {
  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.3;
  }

  @include mq(desktop) {
    font-size: 46px;
    line-height: 1.3;
  }
}

.about__wrap {
  @include mq(tablet) {
    display: flex;
  }
}

.about__img {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }

  @include mq(desktop) {
    width: 530px;
  }
}

.about__desc {
  @include mq(tablet) {
    width: 403px;
    margin-left: 42px;
  }

  @include mq(desktop) {
    width: 642px;
    margin-left: 60px;
  }
}

.about__desc-title {
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  color: $bg-main-color;

  @include mq(desktop) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.2;
  }
}

.about__desc-list::before {
  content: '';
  display: block;
  top: 0;
  left: 0;

  margin-bottom: 20px;

  border-bottom: 1px solid $paragraph-color;

  @include mq(desktop) {
    margin-bottom: 30px;
  }
}

.about__desc-list {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 43px;
  }
}

.about__desc-item {
  position: relative;
  padding-left: 23px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include mq(tablet) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mq(desktop) {
    padding-left: 34px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.about__desc-txt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 18px;
  height: 14px;

  background-image: url('../images/About/done.svg');
}

.about__desc-txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  color: $bg-main-color;

  @include mq(tablet) {
    font-size: 12px;
    line-height: 1.25;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.about__desc-paragraph:first-of-type::before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;

  width: 20px;
  height: 2px;

  background-color: $main-color;

  @include mq(tablet) {
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 43px;
  }
}

.about__desc-paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: $paragraph-color;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  @include mq(tablet) {
    font-size: 10px;
    line-height: 2;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

.about__desc-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: $main-color;

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.5px;
  }
}
