.benefits {
padding-bottom: 35px;

  background-image: linear-gradient(
    to bottom,
    ($bg-main-color) 380px,
    (#fff) 250px
  );

  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      ($bg-main-color) 210px,
      (#fff) 210px
    );
  }

  @include mq(desktop) {
    padding-bottom: 65px;
  }
}

.benefits__title {
  width: 180px;
  padding-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;

  color: #ffffff;

  @include mq(tablet) {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 35px;

    font-size: 26px;
    text-align: center;
  }

  @include mq(desktop) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
