.contacts {
  padding: 55px 0;
  margin: 0 auto;
  text-align: center;

  &__action-text {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 25px;
  }
  &__action-text--acсent {
    color: $main-color;
  }
  &__text {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 43px;
  }

  @include mq(tablet) {
    padding: 60px 0px 68px 0px;
    &__action-text {
      font-size: 26px;
      max-width: 628px;
    }
    &__text {
      font-size: 16px;
      max-width: 545px;
    }
  }
  @include mq(desktop) {
    padding: 100px 0px 62px 0px;
    max-width: 1680px;
    &__action-text {
      font-size: 46px;
      max-width: 980px;
    }
    &__text {
      font-size: 37px;
      max-width: 1090px;
    }
  }
}
// Геометрия лейблов формы
.footer__label{
  margin: 0 auto;
  display: block;
  &:first-child{
    margin-bottom: 20px;
  }
  @include mq(tablet){

    width: 390px;
  }
  @include mq(desktop){

    width: 478px;
  }


}
//  Подсветка бордера при неправильной валидации
.contacts-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}
.contacts-form__input {
  outline: transparent;
  display: block;
  width: 100%;
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 28px;
  transition-property: border;
  @extend %transition;

 @include mq(desktop) {
    padding: 23px 40px;
    font-size: 20px;
  }
  &:hover,
  &:focus {

    border: 1px solid $main-color;
  }
}
.contacts-form__button {
  outline: transparent;
  display: block;
  width: 260px;
  margin: 50px auto 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: $main-color;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  transition-property: color, border-color, background-color;
  @extend %transition;
  &:hover,
    &:focus {
      color: $main-color;
      background-color: transparent;
      border: 2px solid $main-color;
    }

  @include mq(tablet) {
    margin: 30px auto 0 auto;
  }
  @include mq(desktop) {
    width: 354px;
    margin: 80px auto 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    letter-spacing: 0.17em;
  }
}

.contacts-form__input::placeholder {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.08em;
  color: #fff;
  opacity: 1;
  @include mq(desktop) {
    font-size: 20px;
  }
}
