.contacts{
    width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(
    rgba(17, 21, 24, 1),
    rgba(17, 21, 24, 1)),
    url('/src/images/contacts/bg-s.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


