.guarantee__container {
  padding-bottom: 45px;
  background: linear-gradient(180deg, #fff 15%, #f1f1f1 15%);

  @include mq(desktop) {
    padding-left: 112px;
    padding-right: 112px;
    background: linear-gradient(180deg, #fff 20%, #f1f1f1 20%);
  }
}

.guarantee__title {
  font-size: 26px;
  margin-bottom: 75px;

  @include mq(tablet) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-bottom: 100px;
    font-size: 46px;
    line-height: 1.3;
  }

  text-align: center;
  letter-spacing: 0.03em;
}

.guarantee__item {
  position: relative;
  padding-left: 35px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 27px;
    left: 6px;

    border: 1px dashed #b9b9b9;
    height: calc(100% - 6px);
  }
}

.guarantee__desc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 15px;
  height: 20px;

  background-image: url('../images/Guarantee/fire.svg');
}

.guarantee__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #3d3d3d;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.guarantee__desc--accent {
  color: $main-color;
}
