.guarantee {
  //   background-color: #f1f1f1;
}

.guarantee__container {
  padding: 45px 20px;
  background-color: #f1f1f1;

  @include mq(tablet) {
    padding: 30px 65px;
  }

  @include mq(desktop) {
    padding: 50px 112px;
  }
}

.guarantee__title {
  font-size: 26px;

  @include mq(desktop) {
    font-size: 46px;
    line-height: 1.3;
  }

  text-align: center;
  letter-spacing: 0.03em;

  color: $bg-main-color;
  background-color: #ffffff;
}

.guarantee__list {}

.guarantee__item {
  position: relative;
  padding-left: 35px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 27px;
    left: 6px;

    height: 48px;
    border: 1px dashed #b9b9b9;
  }
  &:nth-child(1)::after {
    height: 68px;
  }
}

.guarantee__desc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 15px;
  height: 20px;

  background-image: url('../images/Guarantee/fire.svg');
}

.guarantee__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #3d3d3d;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.guarantee__desc--accent {
  color: $main-color;
}
