.problems {
  padding-top: 25px;
  padding-bottom: 35px;
  background: linear-gradient($bg-main-color 79%, #ffffff 79%);

  @include mq(tablet) {
    padding-top: 55px;
    background: linear-gradient($bg-main-color 58%, #ffffff 57%);
  }

  @include mq(desktop) {
    padding-top: 100px;

    padding-bottom: 65px;

    background-image: url('../images/problems/bg-fire.svg'),
      linear-gradient($bg-main-color 72%, #ffffff 72%);
    background-position: top 88px right calc(50% - 635px), center;
    background-repeat: no-repeat;
    background-size: 407px 472px, contain;
  }
}

.problems__title {
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: 0.03em;

  color: #ffffff;

  @include mq(tablet) {
    width: 450px;
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    width: 808px;
    margin-bottom: 68px;

    font-size: 46px;
  }
}

.problems_accent {
  color: $main-color;
}

.promlems_enter {
  @include mq(tablet) {
    display: block;
  }
}
